<div class="wrap">

  <div class="addCar">
    <form [formGroup]="form">
      <div class="info" *ngIf="carForUpdate">Update car width id: <b>{{carForUpdate.id}}</b></div>
      <div class="formMain">
        <div><label>Model : <input type="text" formControlName="model"></label></div>
        <div><label>Year : <input type="text" formControlName="year"></label></div>
        <div><label>Price : <input type="text" formControlName="price"></label></div>
        <button (click)="save()">{{!carForUpdate ? 'Save' : 'Update'}}</button>
        <button (click)="cancel()" *ngIf="carForUpdate">Cancel</button>
      </div>
    </form>
  </div>

  <hr>

  <div class="cars">
    <div *ngFor="let car of cars" class="car">
      <div class="info">
        [{{car.id}}] <b>{{car.model}}</b> ({{car.year}}) - {{car.price}} $
      </div>
      <div class="bp">
        <button (click)="update(car)">Update</button>
        <button (click)="delete(car.id)">Delete</button>
      </div>
    </div>
  </div>
</div>
