.wrap{
  display: flex;
}



.app-user{
  width: 25%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.outletUserDetails{
  padding: 20px;
  background: #cae0f3;
  color: #226fcc;
  width: 75%;
  height: calc(90vh - 70px);
}

